*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;

}
#main{
	padding: 20px;
}
#main > .row{
	border: 1px solid black;
}
#main > .row > kbd{
	font-size: 20px;
	display: inline-block;
	border: 1px solid blue;
	height: 60px;
	width:60px;
	margin: 10px;
	position: relative;
}
#main > .row > kbd > .keyValue{
	position: absolute;
	left: 5px;
	top: 5px;
}
#main > .row > kbd > .editBtn{
	position: absolute;
	right: 5px;
	bottom: 5px;
	display: none;
}
#main > .row > kbd:hover .editBtn{
	display: block;
}

#main > .row > kbd > img{
	position: absolute;
	bottom: 5px;
	left:5px;
	height: 16px;
	width: 16px;
}
